.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}

@media (min-width: 767px) {
    .cart {
        top: 5rem;
        bottom: unset;
    }
}
