.item-delete {
    cursor: pointer;
}

.basket-quantity {
    cursor: pointer;
    vertical-align: middle;
    color: #26a69a;
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0
    }
    to {
        top: 50%;
        opacity: 1;
    }
}